.teamWrapper {
  position: relative;
  z-index: 100;
}

.teamWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://ik.imagekit.io/6pl7k4a01ha/our-team-bg_GUiwAF_xt3g.png?updatedAt=1639327994315");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -10;
}

.team_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team_head p:last-child {
  max-width: 366px;
  text-align: center;
}

.team_members {
  display: flex;
  /* align-items: center; */
}

.team_members > div:not(:last-child) {
  margin-right: 100px;
}

.team_member_slider {
  width: 100%;
  max-width: 470px;
}

.team_members_gallery {
  flex: 1;
}

.team_member_slider_card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 43px 30px;
  text-align: center;

  position: relative;
  z-index: 1000;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team_member_slider_card_image {
  width: 270px;
  height: 270px;
  border-radius: 25px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 43px;
}

.team_member_slider_card_image::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 2px solid rgba(232, 111, 206, 1);
  z-index: -1;
}

.team_member_slider_card_image img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.team_member_slider_disc {
  position: relative;
  padding-top: 20px;
  line-height: 25px;
}

.team_member_slider_disc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 30px;
  height: 3px;

  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.team_member_slider_card_social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.team_member_slider_card_social_icons > :not(:last-child) {
  margin-right: 30px;
}

.team_member_slider_card_social_icons a {
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease;
}
.team_member_slider_card_social_icons a:hover {
  color: rgba(255, 255, 255, 1);
}

.team_members_gallery_buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 55px;
}

.team_members_gallery_buttons > button:not(:last-child) {
  margin-bottom: 12px;
}

.team_members_gallery_buttons button {
  position: relative;
  transition: all 0.2s ease;
}

.team_members_gallery_buttons button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  filter: blur(30px);
}

.team_members_gallery_buttons button:hover::before {
  background: linear-gradient(
    180deg,
    rgba(232, 111, 206, 0.5) 0%,
    rgba(135, 69, 195, 0.5) 100%
  );
  border-radius: 15px;
}

.team_members_gallery_buttons .team_members_gallery_btn_wrappper {
  width: 76px;
  height: 66px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: all 0.2s ease;
  position: relative;

  z-index: 100;
}

.team_members_gallery_buttons .team_members_gallery_btn_wrappper:hover {
  background-color: rgba(232, 111, 206, 1);
}

.team_members_gallery_buttons
  .team_members_gallery_btn_wrappper:hover
  .team_members_gallery_btn_wrap {
  background-color: rgba(45, 19, 78, 1);
}

.team_members_gallery_btn_wrap {
  width: 73px;
  height: 63px;
  background: #2d134e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  /* background: rgba(255, 255, 255, 0.1); */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  background-color: #422b60;
}

@media (max-width: 1100px) {
  .team_members > div:not(:last-child) {
    margin-right: 50px;
  }

  .team_members_gallery_buttons {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 40px;
  }

  .team_members_gallery_buttons > button:not(:last-child) {
    margin-bottom: 0px;
    margin-left: 12px;
  }
}

@media (max-width: 850px) {
  .team_members {
    flex-direction: column;
  }

  .team_members > div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .team_member_slider {
    width: 100%;
    max-width: 100%;
  }

  .team_member_slider_card {
    width: 100%;
  }

  .team_member_slider .swiper-wrapper {
    border: 2px solid red;
  }
}

@media (max-width: 760px) {
  .team_head {
    flex-direction: column;
    text-align: center;
  }
  .team_head > :first-child {
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .team_member_slider_card_image {
    width: 100%;
    height: auto;
    margin: unset;
    margin-bottom: 43px;
    margin-right: 20px !important;
  }
}
