.sale-dropdown {
  width: 160px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sale-dropdown-btn {
  width: 100%;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  transition: all 0.2s ease;
  background: #2d134e;
}

.sale-dropdown-btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.651);
}

.sale-dropdown-btn svg {
  transition: all 0.2s ease;
}
.sale-dropdown-btn.showing svg {
  transform: rotate(180deg);
}

.sale-dropdown-menu {
  position: absolute;
  display: none;
  top: 105%;
  left: 0;
  width: 100%;
  background-color: #282b39;
  border-radius: 5px;
  border: 1px solid #3b3e4e;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sale-dropdown-menu.drop {
  display: block;
}

.sale-dropdown-menu-item {
  cursor: pointer;
  padding: 0.6rem 1rem;
}
.sale-dropdown-menu-item.active {
  background-color: #414557;
}
.sale-dropdown-menu-item:hover {
  background-color: #414557;
}

@media (max-width: 500px) {
  .sale-dropdown {
    width: 150px;
    padding: 0 0px;
  }
}
