.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.footer-top-right {
  display: flex;
  align-items: center;
}

.footer-top-right a:not(:last-child) {
  margin-right: 1rem;
}

.footer-bottom {
  background: rgba(255, 255, 255, 0.06);
  padding: 0.7rem 1rem;
}

.footer-top-left img {
  width: 105px;
}

@media (max-width: 600px) {
  .footer-top {
    padding: 0 0rem;
  }
}
@media (max-width: 500px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-top > :first-child {
    margin-bottom: 2rem;
  }

  .footer-top:not(:last-child) {
    margin-bottom: 2rem;
  }
}
